.main-container{

    .center-container{
        
        .banner{

            .hover{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                overflow: hidden;
                position: absolute;
                background-color: rgba($color: #8fba54, $alpha: .3);
            }

            .caption{
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                position: absolute;
                margin-bottom: 50px;
                
                h2{
                    font-size: 4em;
                    padding: 0 10%;
                    font-weight: 30;
                }
                p{
                    padding: 0 10%;
                    font-weight: normal;
                }
            }

            z-index: 1;
            height: 550px;
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("../images/banner_bg.jpg");
        }

        .newletter{
            background-size: cover;
            background-position: right top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("../images/newsletter_bg.png");
        }
    }
}