.main-container{

    .center-container{
        
        .banner{

            .hover{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                overflow: hidden;
                position: absolute;
                background-color: rgba($color: #8fba54, $alpha: .3);
            }

            .caption{
                left: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                position: absolute;
                margin-bottom: 50px;
            }

            z-index: 1;
            height: 550px;
            position: relative;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // background-attachment: fixed;
            background-image: url("../images/banner.gif");
        }

        .newletter{
            background-color: #8fb92b;
        }

        .trash{
            height: 500px;
            background-size: cover;
            background-position: right top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("../images/katye1.jpg");
        }

        .truck{
            height: 500px;
            background-size: cover;
            background-position: right top;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-image: url("../images/katye2.jpg");
        }
    }
}

.connexion-page{

    background-color: #f2f2f2;

    .connexion-wrapper{
        .wrapper{

            margin-top: 15%;
            padding-top: 70px;
            padding-bottom: 60px;
            @include border-radius(10px);
            @include box-shadow(0px 0px 7px rgba(0, 0, 0, 0.1));

            .form-control{
                background-color: #ddd;
                font-size: .8em;
            }

            .brand{

                img{
                    width: 120px;
                }
            }
        }
    }
}