{% extends 'bootstrap_4_layout.html.twig' %}

{# Errors #}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form is not rootform %}<span class="help-block text-danger small mb-4 mt-0">{% else %}<div class="small alert alert-danger mb-4 mt-0">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            {# use font-awesome icon library #}
            <li><span class="fa fa-exclamation-triangle mr-1"></span>{{ error.message }}</li>
        {%- endfor -%}
        </ul>
        {% if form is not rootform %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}
