{% extends 'frontend/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock title %}

{% block layout_container %}
    
    <div class="banner">
        <div class="caption">
            
        </div>
    </div>

    <div class="container">
        
    </div>
{% endblock %}
