{% extends 'frontend/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock title %}

{% block layout_container %}
    
    <div class="banner">
        <div class="hover">
            <div class="caption text-center">
                <div class="container">
                    <h2 class="mb-4 text-white">Lorem ipsum amet sin dolor</h2>
                    <p class="mb-5 text-white">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                    <a href="#" class="btn btn-outline-success text-white">{{  "See more"|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        
    </div>
{% endblock %}
