<footer class="footer mt-5 pt-5">
	<hr>
	<p class="small text-muted m-0">
		<small class="float-right">{{ "Katye Pwop @ 2018. Tous droits réservés"|trans }}</small>
		<small>{{ "Katye Pwop Admin"|trans }}</small>
	</p>
</footer>