.admin{

	background-color: #F4F5F7;

	.aside-menu{

		.bottom-helper{
			left: 0;
			right: 0;
			bottom: 0;
			position: fixed;
			margin-right: -60px!important;
			
			.wrapper{
				position: relative;
				background-color: #2c3e50;
			}
		}

		.h6{
			color: #42526E;
		}

		li{
			a{
				color: #42526E;
				background-color: transparent;
				&:hover, 
				&.selected{
					background-color: #EAECEF;
				}
				&.selected{
					color: #0052CC;
				}
			}
		}
	}

	.calendar-graph-legend{

		ul{
			li.item{
				width: 10px;
				height: 10px;
				&:nth-child(2){
					background-color: #eee;
				}
				&:nth-child(3){
					background-color: #c6e48b;
				}
				&:nth-child(4){
					background-color: #7bc96f;
				}
				&:nth-child(5){
					background-color: #239a3b;
				}
				&:nth-child(6){
					background-color: #196127;
				}
			}
		}
	}
}